footer {
  background-color: #a9d6e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 70px;
  font-size: 1rem;
  color: black;
}
footer .right {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 10px;
}

.social-links {
  display: flex;
  gap: 0.6rem;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
}

.social-links li {
  display: inline-block;
}

.social-links img {
  width: 26px;
  height: 26px;
  display: block;
}

.coffee-easter-egg {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;
  display: inline-block;
  cursor: pointer;
}

.coffee-cup {
  width: 32px;
  height: 32px;
  display: block;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.coffee-spill {
  position: absolute;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}

.hidden {
  display: none;
}

.coffee-cup.broken {
  animation: cup-break 0.35s ease-out forwards;
}

@keyframes cup-break {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(-2px, -2px) rotate(-6deg);
  }
  40% {
    transform: translate(3px, 1px) rotate(4deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate(-8deg);
  }
  80% {
    transform: translate(2px, -1px) rotate(5deg);
  }
  100% {
    transform: translate(0, 6px) scale(0.8);
    opacity: 0;
  }
}
