footer {
  background-color: #a9d6e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 70px;
  font-size: 1rem;
  color: black;
}
footer .right {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 10px;
}
